@charset "utf-8";
/* CSS Document */

body {
  max-width: 1900px;
  font-family: 'Raleway', sans-serif;
}
header {
  background-color: black;
  text-align: center;
}
h1, .page-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
p {
  font-family: 'Vollkorn', serif;
}

ul {
  list-style-type: none;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
