@media screen and (min-width: 900px) {
    #main {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 2em;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #pics {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 1.5em;
    }
    #pics div {
        padding-bottom: 1.5em;
    }
    #pics div p {
        margin-top: -0.2em;
    }
    .shadow_hover:hover {
        box-shadow: 0 0 50px #333333;
    }

    .one {
        grid-column: 1 / 2;
        grid-row: 1 /3;
    }

    .two {
        grid-column: 2 / 3;
        grid-row: 1 /2;
    }

    .three {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .four {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .five {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
    }

    .six {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }

    .seven {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    .eight {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .nine {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .ten {
        grid-column: 2 / 4;
        grid-row: 5 / 7;
    }
    /* responsive menu css */
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #main {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #pics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    #pics div {
        padding-bottom: 1.5em;
    }
    #pics div p {
        margin-top: -0.2em;
    }
    /* responsive menu css */
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    #main {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    img {
        max-width: 20em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        object-fit: cover;
    }
    #pics {
        margin: auto;
        width: 100%;
        display: block;
    }
    #pics div {
        padding-bottom: 1.5em;
    }
    #pics div p {
        margin-top: -0.2em;
    }
}

body {
    font-size: 1.2rem;
}
header {
    /* background-color: pink; */
}
.icon {
    max-width: 3rem;
}
.head_non_nav {
    margin: 0 25%;
    padding: 1em 0em 3em;
    display: block;
}
.head_non_nav img {
    float: left;
    max-width: 10rem;
}
.title_motto {
    margin-top: 2em;
    display: block;
    /* background-color: lightblue; */
}
.hero_img {
    max-width: 70rem;
}
/* responsiv nav */
.nav_container {
    display: block;
    max-width: 80%;
}
.navigation {
    list-style: none;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.navigation a:hover {
    color: white;
    background-color: black;
}
.menu_button {
    margin-left: 85%;
}

footer {
    /* background-color: pink; */
    display: block;
}
.phone {
    display: inline;
}
.email {
    display: inline;
}
