header {
  /* background-color: #fff; */
  /* padding: 5px 0; */
  align-items: center;
  justify-content: center;
}
.icon {
  max-width: 3rem;
}
.logo {
  max-width: 10rem;
}
.title_motto {
  display: flex;
}
.website_motto {
  display: block;
}
.hero_img {
  max-width: 70rem;
}
.nav_container {
  display: block;
  max-width: 80%;
}
.navigation {
  list-style: none;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.responsive li {
  display: block;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
}
.navigation a:hover {
  color: white;
  background-color: black;
}
