body {
    font-size: 1.2rem;
}
header {
}
header .head_non_nav {
	text-align: center;
}
header .head_non_nav img {
    max-width: 10rem;
	vertical-align: middle;
}
header .head_non_nav .title_motto {
    display: inline-block;
	vertical-align: middle;
}
header nav {
}
header nav ul.navigation {
    list-style: none;
}
header nav ul.navigation li:first-child {
    display: block;
}
header nav .navigation li {
    display: none;
}

.icon {
    max-width: 3rem;
}
.nav_container {
    display: block;
    max-width: 80%;
}
.hero_img {
    max-width: 70rem;
}
.responsive li {
    display: block;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.navigation a:hover {
    color: white;
    background-color: black;
}
.menu_button {
    margin-left: 85%;
}

footer {
    background-color: pink;
    display: block;
}
.phone {
    display: inline;
}
.email {
    display: inline;
}
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}
