body {
    font-size: 1.2rem;
}
header {
    background-color: pink;
}
.icon {
    max-width: 3rem;
}
.head_non_nav {
    margin: 0 25%;
    padding: 1em 0em 3em;
    display: block;
}
.logo {
    float: left;
    max-width: 10rem;
}
.title_motto {
    margin-top: 2em;
    display: block;
    /* background-color: lightblue; */
}
.hero_img {
    max-width: 70rem;
}
.nav_container {
    display: block;
    max-width: 80%;
}
.navigation {
    list-style: none;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.responsive li {
    display: block;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.navigation a:hover {
    color: white;
    background-color: black;
}
.menu_button {
    margin-left: 85%;
}

footer {
    background-color: pink;
    display: block;
}
.phone {
    display: inline;
}
.email {
    display: inline;
}
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
}
