body {
    font-size: 1.2rem;
}
.page_container {
    margin: 0 auto;
    max-width: 80%;
}
/* header {
} */
header .head_non_nav {
    text-align: center;
}
header .head_non_nav img {
    max-width: 10rem;
    vertical-align: middle;
}
header .head_non_nav .title_motto {
    display: inline-block;
    vertical-align: middle;
}

/* Narrow window */
.navigation {
    list-style: none;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    padding: 0.75rem;
    text-align: right;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.navigation li a:hover {
    color: white;
    background-color: black;
}
.show_list {
    display: block;
}
.responsive {
    display: none;
}
.show_list li {
    display: block;
}
img {
    max-width: 80%;
}

.contact_container {
    /* background-color: pink; */
    font-size: 1rem;
    display: block;
}
.contact_container h5 {
    font-size: 1.2rem;
}
.email,
.phone {
    display: flex;
}
.date_container {
    text-align: center;
}

@media only screen and (min-width: 45em) {
    /* Wide window */
    .navigation {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: inline;
    }
    .navigation li a {
        display: inline;
    }
}
.responsive {
    display: block;
}

.icon {
    max-width: 3rem;
}
*/ .hero_img {
    max-width: 70rem;
}
