@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Fira Code", "Roboto Mono", "monospace";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  p {
    @apply mb-6 text-base leading-6;
  }

  h1 {
    @apply mb-4 mt-4 text-3xl leading-snug;
  }

  h2 {
    @apply mb-4 mt-4 text-2xl leading-relaxed;
  }

  h3 {
    @apply mb-4 mt-4 text-xl leading-relaxed;
  }

  h6 {
    @apply -mt-4 mb-6 text-sm leading-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
