@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Fira Code", "Roboto Mono", "monospace";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  }

@layer base {
  p {
    @apply text-base leading-6 mb-6;
  }

  h1 {
    @apply text-3xl leading-snug mt-4 mb-4;
  }

  h2 {
    @apply text-2xl leading-relaxed mt-4 mb-4;
  }

  h3 {
    @apply text-xl leading-relaxed mt-4 mb-4;
  }

  h6 {
    @apply text-sm leading-tight -mt-4 mb-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
