/* small css also applied to medium and large unless specified otherwise */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Ubuntu:wght@700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}
p,
a,
th,
td {
    font-family: 'Arimo', sans-serif;
}
a {
    font-size: 1.2rem;
}
body {
    max-width: 100%;
    display: block;
}
.banner {
    display: block;
    background-color: #fca311;
    font-size: 1.5rem;
}
header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 2em);
    gap: 0.5em;
    background-color: #ade8f4;
}
/* Special class to make room for responsive nav */
.extend_menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 2em);
    gap: 0.5em;
    background-color: #ade8f4;
}
/* Direct children of header start*/
.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    align-self: flex-start;
}
.website_title {
    font-size: 2rem;
    grid-column: 2/6;
    grid-row: 1/3;
}
.website_motto {
    text-align: center;
    grid-column: 2/5;
    grid-row: 2/4;
}
.navigation {
    grid-column: 1/6;
    grid-row: 4/10;
    text-align: center;
    z-index: 0;
}
/* Direct children of header end*/

/* Navigation menu start */

.menu_button {
    grid-column: 5/6;
    grid-row: 1/4;
    max-width: 60%;
    z-index: 10;
    align-self: center;
}
.navigation a {
    display: none;
}
.responsive a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.5s;
}
.responsive a:hover {
    color: white;
    background-color: black;
}
.navigation a:active {
    text-decoration: underline;
}

/* Navigation menu end */

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 2em);
    gap: 0.5em;
}
/* Direct children of main start*/
.page_title {
    grid-column: 1/4;
    grid-row: 1/3;
    font-size: 2rem;
}
.hero_img {
    grid-column: 1/6;
    grid-row: 3/9;
    width: 100%;
}
.weather_summary {
    grid-column: 1/6;
    grid-row: 8/13;
    background-color: rgba(229, 229, 229, 0.5);
    width: fit-content;
}
.forecast_heading {
    grid-column: 1/6;
    grid-row: 13/14;
    font-size: 1.5rem;
    background-color: #e5e5e5;
    text-align: center;
    padding: 2rem 0;
}
.five_day_forecast {
    grid-column: 1/6;
    grid-row: 14/20;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem 0;
    text-align: center;
}
/* Direct children of main end*/

/* Styling of five day forecast start*/
.weather_icon {
    width: 70%;
}
/* Styling of five day forecast end*/

.article_background {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 2em);
    gap: 0.5em;
    background-color: #e5e5e5;
}
/* Direct children of article start*/
.article_heading {
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 1.5rem;
}
.article_paragraph {
    grid-column: 1/4;
    grid-row: 3/7;
}
.article_image {
    grid-column: 4/6;
    grid-row: 2/7;
    width: 100%;
}
/* Direct children of article end*/

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(17, 2em);
    gap: 0.5em;
    background-color: #ade8f4;
}
/* Direct children of footer start*/
.contact_info_container {
    grid-column: 1/4;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 2em);
    gap: 0.3em;
}
/* Direct children of contact_info_container start */
.contact_title {
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 1.5rem;
    align-self: center;
}
.contact_icon {
    width: 50%;
}
.address_img {
    grid-column: 1/2;
    grid-row: 3/4;
}
.phone_img {
    grid-column: 1/2;
    grid-row: 4/5;
}
.email_img {
    grid-column: 1/2;
    grid-row: 5/6;
}
.contact_text {
    font-size: 1.2rem;
    align-self: center;
}
.address_text {
    grid-column: 2/6;
    grid-row: 3/4;
}
.phone_text {
    grid-column: 2/6;
    grid-row: 4/5;
}
.email_text {
    grid-column: 2/6;
    grid-row: 5/6;
}
/* Direct children of contact_info_container end */
.social_media_icons_div {
    display: none;
}
/* Direct children of social_media_icons_div start */
.social_media_icon {
    display: none;
    width: 100%;
}
/* Direct children of social_media_icons_div end */

.footer_map {
    grid-column: 1/6;
    grid-row: 6/15;
    width: 100%;
}
#current_date {
    grid-column: 2/5;
    grid-row: 15/16;
    text-align: center;
    align-self: flex-end;
    font-size: 1.5rem;
}
.footer_bar {
    grid-column: 1/6;
    grid-row: 16/18;
    display: grid;
    grid-template-columns: 30% 33% 30%;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}
.footer_bar a {
    color: #ffffff;
}
.footer_bar a:hover {
    color: #fca311;
}
/* Direct children of footer end*/
