@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap');
body {
    font-size: 3em;
}
h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
div {
    background-color: tan;
    width: 20em;
    height: 32em;
    margin: 0 auto;
    padding: 1em;
    border: 1em solid gray;
}
