[data-theme="dark"] {
    --aqua: #83C092;
    --background-0: #272E33;
    --background-1: #2E383C;
    --background-2: #374145;
    --background-3: #414B50;
    --background-4: #495156;
    --background-5: #4F5B58;
    --background-blue: #384B55;
    --background-dim: #1E2326;
    --background-green: #3C4841;
    --background-purple: #463F48;
    --background-red: #493B40;
    --background-visual: #4C3743;
    --background-yellow: #45443C;
    --blue: #7FBBB3;
    --foreground: #D3C6AA;
    --green: #A7C080;
    --grey-0: #7A8478;
    --grey-1: #859289;
    --grey-2: #9DA9A0;
    --orange: #E69875;
    --purple: #D699B6;
    --red: #E67E80;
    --statusline-1: #A7C080;
    --statusline-2: #D3C6AA;
    --statusline-3: #E67E80;
    --yellow: #DBBC7F;
}

[data-theme="light"] {
    --aqua: #35A77C;
    --background-0: #FFFBEF;
    --background-1: #F8F5E4;
    --background-2: #F2EFDF;
    --background-3: #EDEADA;
    --background-4: #E8E5D5;
    --background-5: #BEC5B2;
    --background-blue: #ECF5ED;
    --background-dim: #F2EFDF;
    --background-green: #F3F5D9;
    --background-purple: #FCECED;
    --background-red: #FFE7DE;
    --background-visual: #F0F2D4;
    --background-yellow: #FEF2D5;
    --blue: #3A94C5;
    --foreground: #5C6A72;
    --green: #8DA101;
    --grey-0: #A6B0A0;
    --grey-1: #939F91;
    --grey-2: #829181;
    --orange: #F57D26;
    --purple: #DF69BA;
    --red: #F85552;
    --statusline-1: #93B259;
    --statusline-2: #708089;
    --statusline-3: #E66868;
    --yellow: #DFA000;
}

