@media only screen and (min-width: 1000px) {
  body {
    background-color: lightgray;
  }
  #page_container {
    display: flexbox;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .column {
    margin: 2%;
  }

  .column img {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  body {
    background-color: lightgray;
  }
  #page_container {
    display: flexbox;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .column {
    margin: 2%;
  }
  .column img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  body {
    background-color: lightgray;
  }
  #page_container {
    display: inline;
    position: relative;
  }
  #column_1 {
    position: absolute;
  }

  .column img {
    width: 100%;
  }
}
