
body {
  font-family: "Raleway", sans-serif;
  background-color: #eeefea;
  align-items: center;
}
header {
  background-color: #2f2c1b;
  text-align: center;
  width: 100%;
}
h1,
.page-title {
  font-family: "Montserrat", sans-serif;
  color: #eeefea;
  font-size: 2em;
}
main {
  width: 90%;
  margin: 0 5% 0;
  max-width: 960px;
  min-height: 300px;
}
h2 {
  font-size: 1.5em;
}
img {
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  margin: 0 2em 0;
}
ul {
  list-style-type: none;
}
footer {
  background-color: #2f2c1b;
  color: #eeefea;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(51, 51, 51);
}
footer a {
  color: #eeefea;
}
footer a:hover {
  color: rgb(221, 220, 220);
}
