#main {
  width: 80%;
  margin: auto;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blur {
  filter: blur(0.2em);
}
.blur_transition {
  filter: blur(0em);
  transition: filter 1s;
}

#pics {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}
